body {
    background-image: url(https://wallpaper.forfun.com/fetch/75/755c2b015796300f40e6a2f459ec5b56.jpeg?w=1000&r=0.5625);
}

#game {
    padding: 2rem;
    background-color: #f5f5ed;
    border-radius: 2.5rem;
    box-shadow: 0px 13px 15px 6px rgba(0,0,0,0.1);
}

#question {
    padding: 0 5rem;
}

.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(248, 96, 96);
    background-color: rgba(255, 255, 255, 0.384);
    border-radius: 0.5rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(248, 96, 96);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #db413c;
    color: white;
    border-radius: 0.5rem;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: #28a745;
}

.incorrect {
    background-color: #dc3545;
}

/* HUD */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 4rem;
    border: 3px solid #dc3545;
    margin-top: 1.2rem;
}

#progressBarFull {
    height: 3.4rem;
    background-color: #dc3545;
    width: 0%;
}

/* Loader */
#loader {
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #dc3545;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Media */ 

@media screen and (max-width: 250px) {
    #question {
        font-size: 14px;
        padding: 0;
        margin-bottom: 1.5rem;
    }
    .choice-prefix,
    .choice-text {
        font-size: 10px;
    }
}

@media screen and (max-width: 585px) {
    #question {
        font-size: 18px;
        padding: 0;
        margin-bottom: 1.5rem;
    }
    .choice-prefix,
    .choice-text {
        font-size: 14px;
    }
    #progressBar {
        width: 14rem;
        height: 2.5rem;
    }
    #progressBarFull {
        height: 2rem;
    }
    .hud-prefix {
        font-size: 1.8rem;
    }
    .hud-main-text {
        font-size: 4.5rem;
    }
    .choice-container {
        height: 4.5rem;
    }
}