#highScoresList {
    list-style: none;
}
.highScoresContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(239, 239, 239);
    min-width: 40rem;
    padding: 2rem;
    margin-bottom: 2rem;
}

.high-score {
    transition: text-shadow 0.3s ease-in-out;
}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

.high-score:hover {
    transform: scale(1.025);
}
